<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="main">
                <h4>Welcome to TO-DO </h4>
                <h5>Login Here</h5><br>
            <form  (ngSubmit)="login()">
            <input type="text" placeholder="Userid"  class="text" name="uid" [(ngModel)]="uid" ><br><br>
           

            <input type="password" placeholder="password" class="text" name="pswd" [(ngModel)]="pswd"><br><br>
           

            <input type="submit" value="Login" class="button butefct" ><br><br>
        
            <a routerLink="register">Forgotten password?</a><br><br>
            <input type="button" value="Create new Account" (click)="register()"class="button butefct"><br><br>   
            </form>    
            
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>
