<div class="container">
    <h1>ToDo HISTORY</h1>
    <div class="list-container">
        <div class="todo-container column-container">
            <div class="list"
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="datas"
                (cdkDropListDropped)="drop($event)">
                <h2>ToDo List</h2>
                <mat-card *ngFor="let data of datas;let i=index;" cdkDrag>
                    <mat-card-header>
                        <mat-card-title>{{data["todo"]}}</mat-card-title>
                        
                    </mat-card-header>
                
                </mat-card>
            
            </div>
        </div>
    </div>
</div>

<div>
    <input type="button" value="ADD ToDo" class="button" (click)="addtodo()">
</div>


