<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="main">
                <h4>Welcome to TO-DO  <br>
                <h5>Register Here</h5></h4><br>
            <form  (ngSubmit)="register()">
            <input type="text" placeholder="Username"  class="text" name="uname"  ><br><br>
            

            <input type="text" placeholder="Account number"  class="text" name="acno"  ><br><br>
           

            <input type="password" placeholder="password" class="text" name="pswd" ><br><br>
            
            <input type="submit" value="Register" class="button butefct"><br><br>   
            <a routerLink="">Login</a>
            </form>    
            
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>
